body{
    text-align: center;
}


h1 {
   padding: 5px;
}

nav{
    
    font-size: 25px;
}

nav a{
    background-color: grey;
    padding: 5px;
}

figcaption{
    font-size: 10px;
}

p{
  margin-left: 25%;
  margin-right: 25%;
}

div{
    float: left;
    width: 25%;
    padding-bottom: 10px;
    background-color: red;
}

